<link rel="stylesheet" href="style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<!DOCTYPE html>

<html>
  <head>
    <title>Twitter Clone</title>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <a href="#"><h4 id="logo">Twitter Clone</h4></a>
        <% if current_user %>
          <ul id="welcome_user"><li> Welcome, <%= current_user.email %> </li>
           <form method='post' action='/sessions'>
             <li>	<input type='hidden' name='_method' value='delete'> </li>
             <li> <input type='submit' value='Sign Out'> </li>
           </form>
          </ul>
        <% end %>
      <%= erb :"partials/_notice" %>
      <%= erb :"partials/_flash" %>
    </div>
    
    <%= yield %>
  
    <div id="footer">
      <ul class="footer-links">
        <a href="#"><li>Home</li></a>
        <a href="#"><li>Sign Up</li></a>
        <a href="#"><li>Sign In</li></a>
        <a href="#"><li>Sign Out</li></a>
        <a href="#"><li>Forgot Password?</li></a>
        <a href="#"><li>Post Peep</li></a>
      </ul>
    </div>
    </div>
  </body>
</html>



